<!-- Title Section -->
<div class="row pt-5 mb-5">
  <div class="col text-center">
    <h1 class="display-4">About KC Thrift Store</h1>
  </div>
</div>

<div class="container">
  <!-- Web Drops Section -->
  <div class="row mb-5">
    <div class="col-md-3 offset-md-1 text-center">
      <fa-icon [icon]="faTruck" size="2x"></fa-icon>
      <h4>Web Drops</h4>
    </div>
    <div class="col-md-5 ps-sm-0">
      <p>
        Web drops at KC Thrift Store occur every other week. This allows us to refresh our inventory and continue to
        give our customers new and exciting items that they can enjoy near and far.
      </p>
    </div>
  </div>

  <!-- Shop Policies Section -->
  <div class="row mb-5">
    <div class="col-md-3 offset-md-1 pt-md-3 text-center">
      <fa-icon [icon]="faBagShopping" size="2x"></fa-icon>
      <h4>Shop Policies</h4>
    </div>
    <div class="col-md-5">
      <ul class="p-2 ps-sm-1">
        <li>All online sales are final (No returns/exchanges)</li>
        <li>Shipping for a fee is available</li>
        <li>We also offer free in store item pick up days every Monday/Friday</li>
        <li>Store Credit is not accepted for online purchases</li>
        <li>Item holds are not accepted</li>
      </ul>
    </div>
  </div>

  <!-- Store Hours Section -->
  <div class="row mb-5">
    <div class="col-md-3 offset-md-1 text-center">
      <fa-icon [icon]="faClock" size="2x"></fa-icon>
      <h4>Store Hours</h4>
    </div>
    <div class="col-md-5 pt-md-3">
      <ul class="p-2 ps-sm-1">
        <li>Open everyday from 10am - 7pm</li>
      </ul>
    </div>
  </div>

  <!-- Contact Section -->
  <div class="row mb-5">
    <div class="col-md-3 offset-md-1 text-center">
      <fa-icon [icon]="faPhone" size="2x"></fa-icon>
      <h4>Call or Visit</h4>
    </div>
    <div class="col-md-5">
      <p><strong>Kit N Caboodle Thrift Store</strong></p>
      <p>1120 S Coast Hwy, Oceanside, CA 92054</p>
      <p>(760) 967-1830</p>
      <p><a href="https://www.instagram.com/kcthriftstore/" target="_blank"><fa-icon [icon]="faInstagram" class="me-1"></fa-icon>Instagram</a></p>
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="col-12 col-md-9">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3339.1102753131977!2d-117.37219752368709!3d33.18497757349572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dc6e18efaf7b7f%3A0x234b73f399ba7f96!2sKit%20N%20Caboodle%20Thrift%20Store!5e0!3m2!1sen!2sus!4v1695415799758!5m2!1sen!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
