<div class="footer-wrapper text-light">
  <div class="d-flex justify-content-center" style="font-size: 1.5rem">
    <a href="https://www.instagram.com/kcthriftstore/" target="_blank" class="text-light"> <fa-icon [icon]="faInstagram" class="me-4"></fa-icon></a>
    <a href="https://www.facebook.com/kitncaboodlethriftstore/" target="_blank" class="text-light"> <fa-icon [icon]="faFacebook" class="me-4"></fa-icon></a>
    <a href="https://www.yelp.com/biz/kit-n-caboodle-oceanside" target="_blank" class="text-light"> <fa-icon [icon]="faYelp"></fa-icon></a>
  </div>
  <nav class="navbar navbar-expand">
    <div class="container-fluid justify-content-center">
      <ul class="navbar-nav mb-2 mb-lg-0 w-50 justify-content-center">
        <li class="nav-item"><a class="nav-link text-light" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link text-light" routerLink="/">Contact Us</a></li>
        <!-- <li class="nav-item"><a class="nav-link text-light" routerLink="/">Creator</a></li> -->
        <!-- <li class="nav-item"><a class="nav-link text-light" routerLink="/">Hiring</a></li> -->
      </ul>
    </div>
  </nav>
  <div class="text-center text-light mt-3">
    <small>Developed By <a href="https://coombssoftware.com" target="_blank" class="text-light">CoombsSoftware</a></small>
  </div>
</div>
