.bg-main {
    height: 100vh;
    background-image: url("/assets/bg2.jpg");
    padding-left: 1%;
    padding-right: 1%;
}

.main-container {
    background-color: white;
    padding-bottom: 200px;
    min-height: 100vh;
    height: 100%;
    /* overflow: auto; */
}
