<div class="modal-body">
  <div class="text-end">
    <button type="button" class="btn-close close" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="d-flex justify-content-center">
    <img [src]="product.image" class="w-50">
  </div>
  <div class="text-center">
    <h1 class="display-5 pt-5">{{product.title}}</h1>
    <p>
      {{product.description}}
    </p>
    <h3 class="display-6 p-3">
      ${{product.price}}
    </h3>
    <button class="btn btn-lg btn-success" (click)="addToCart()"><fa-icon [icon]="faShoppingCart"></fa-icon> Add to Cart</button>
  </div>
</div>
