/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@import 'css/nav.css';
@import 'css/body.css';
@import 'css/footer.css';

/* html, body { height: 100%; } */
body {
    margin: 0;
    /* font-family: Poppins, "Helvetica Neue", sans-serif;  */
    /* background-image: url("assets/pier2.jpg");
    background-size: cover;
    background-attachment: fixed; */
}

html { overflow-x: clip; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
