<div class="row">
    <div class="col home-tile home-tile-lg" (mouseover)="isHover = 0" (mouseout)="isHover = -1">
        <div class="tile-bg-img" [style.background-image]="imgUrlPrefix+tiles[0].img+imgUrlSuffix" ></div><!--[class.darken]="isHover == 0"-->
        <div class="tile-content d-flex flex-column justify-content-center" [style.color]="tiles[0].rgb">
            <h2 class="display-1" *ngIf="tiles[0].title">{{tiles[0].title}}</h2>
            <p *ngIf="tiles[0].text">
            {{tiles[0].text}}
            </p>
        </div>
    </div>
</div>

<div class="row mt-3 mb-3">
    <p class="display-6 text-center">
        Located at 1120 S Coast Hwy, Oceanside, CA 92054!
    </p>
    <p class="display-6 text-center">
        We are open everyday from 10am - 7pm
    </p>
</div>

<div class="row">
    <div class="col-md-4 home-tile home-tile-sm" (mouseover)="isHover = 1" (mouseout)="isHover = -1">
        <div class="tile-bg-img" [style.background-image]="imgUrlPrefix+tiles[1].img+imgUrlSuffix" [class.darken]="isHover == 1"></div>
        <div class="tile-content d-flex flex-column justify-content-center" [style.color]="tiles[1].rgb">
            <h2 class="display-1" *ngIf="tiles[1].title">{{tiles[1].title}}</h2>
            <p *ngIf="tiles[1].text">
            {{tiles[1].text}}
            </p>
        </div>
    </div>
    <div class="col-md-4 home-tile home-tile-sm" (mouseover)="isHover = 2" (mouseout)="isHover = -1">
        <div class="tile-bg-img" [style.background-image]="imgUrlPrefix+tiles[2].img+imgUrlSuffix" [class.darken]="isHover == 2"></div>
        <div class="tile-content d-flex flex-column justify-content-center" [style.color]="tiles[2].rgb">
            <h2 class="display-1" *ngIf="tiles[2].title">{{tiles[2].title}}</h2>
            <p *ngIf="tiles[2].text">
            {{tiles[2].text}}
            </p>
        </div>
    </div>
    <div class="col-md-4 home-tile home-tile-sm" (mouseover)="isHover = 3" (mouseout)="isHover = -1">
        <div class="tile-bg-img" [style.background-image]="imgUrlPrefix+tiles[3].img+imgUrlSuffix" [class.darken]="isHover == 3"></div>
        <div class="tile-content d-flex flex-column justify-content-center" [style.color]="tiles[3].rgb">
            <h3 class="display-1" *ngIf="tiles[3].title">{{tiles[3].title}}</h3>
            <p *ngIf="tiles[3].text">
            {{tiles[3].text}}
            </p>
        </div>
    </div>
</div>
